.columns {
    margin: 40px auto 0 auto;
    line-height: 1.5; 
}
.left {
background: rgb(255, 194, 250);
}
.main {
    background: rgb(177, 171, 255);
   }
.right {
    background: rgb(238, 255, 160)
}
